@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import "~nprogress/nprogress.css";
@import "./slider.scss";
@import "./vuetify-component";
@mixin h {
  overflow: hidden!important;
  display: -webkit-box!important;
  -webkit-box-orient: vertical!important;
}
// 限制文本行数
.h-1x {
  -webkit-line-clamp: 1;
  @include h;
}
.h-2x {
  -webkit-line-clamp: 2;
  @include h;
}
.h-3x {
  -webkit-line-clamp: 3;
  @include h;
}
.h-4x {
  -webkit-line-clamp: 4;
  @include h;
}
.v-app-underline {
  border-width: 0 0 thin;
  border-style: solid;
  border-bottom-color: rgba(0,0,0,.12)!important;
}
.shadow-soft {
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff !important;
}
.shadow-soft-lg {
  box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff !important
}
.shadow-flex {
  box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff !important;
}
html, body, div, span, header, footer, section, article, a, img {
  font-family: 'Nunito', 'product sans', sans-serif !important;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-left: 1px solid rgba(128, 128, 128, 0.18);
  height: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--v-primary-lighten1);
}

